﻿@{
    ViewBag.Title = "Books"; } <h2>@ViewBag.Title</h2>
    @foreach (var book in ViewBag.Books)
    {
        <div class="panel-body">
            @Html.Label("Title", "Title:")
            <br /> <p>@book.Title</p>
            @Html.Label("Author", "Author:")
            <br />
            <p>@book.Author</p>
            @using (Html.BeginForm(actionName: "Details", controllerName: "Book", method: FormMethod.Get, routeValues: new { id = book.BookId }))
            {
                <button class="btn btn-primary">Details</button>
            }
        </div>
    }
